header.header
    .header-column
        .header-title
            .header-title_icon
                i.fas.fa-quote-left
            h2.header-title_text 
                a(href=routes.home) 운동일지
            .header-title_icon
                i.fas.fa-quote-right
        ul.header-list
            if user
                li.header-item
                    a 요일별 운동
                li.header-item
                    a(href=`/work-out${routes.addWorkOut}`) 운동 추가하기
    .header-column
        ul.user-list
            if !user
                li.user-item
                    a(href=routes.login) 로그인
                li.user-item
                    a(href=routes.join) 회원가입
            else
                li.user-item
                    span=`${user.name} 님`
                li.user-item
                    a(href=routes.userDetail(user._id)) 내 정보
                li.user-item
                    a(href=routes.logout) 로그아웃