extends layouts/main

block content
    .form-container
        form(method="post")
            input(type="name", name="name", placeholder="이름",required=true)
            input(type="email", name="email", placeholder="이메일",required=true)
            input(type="password", name="password", placeholder="비밀번호",required=true)
            input(type="password", name="password2", placeholder="비밀번호 확인",required=true)
            if error
             .errorMsg=error
            input(type="submit", value="회원가입")