extends layouts/main

block content
    section.posts-container
        table
            thead 
                tr 
                    th No.
                    th 제목
                    th 작성자
                    th 작성시간
                    th 좋아요
                    th 조회수
            tbody 
                each post, i in posts
                        tr
                            th
                                a(href=routes.postDetail(post.id))=i+1+skip
                            th
                                a(href=routes.postDetail(post.id))=post.title
                            th
                                a(href=routes.postDetail(post.id))=post.creator.name
                            th
                                a(href=routes.postDetail(post.id))=new Date(post.createdAt).toLocaleString('ko-KR', {  hour12: false })
                            th
                                a(href=routes.postDetail(post.id))=post.likes.length
                            th
                                a(href=routes.postDetail(post.id))=post.views
        form.post-option
            select(name="limit")
                option(value=10) 10
                option(value=20) 20
                option(value=30) 30
            ul.page-list 
                each page in pageList
                    li(class=`${page === pageNum ? "current-page" : ""}`)
                        button(value=page, name="page")=page
        
        .add-post-link
            a(href=routes.post + routes.addPost) + 게시글 작성하기
