extends layouts/main
include mixins/profileImg
include mixins/postImgList

block content
    .post.post-container
        .info-box
            .user-block
                +profileImg(post.creator.avatarUrl, post.creator.id)
                .user-info 
                    h3=post.creator.name
                    h4=post.creator.email
            .post-info 
                h3 조회수: #{post.views}
                h4 작성일: #{new Date(post.createdAt).toLocaleString('ko-KR', {  hour12: false })}
        .contents-box
            p=post.contents
        +postImgList(false, post.imageUrls)
        .likes-box
            span.like-count=post.likes.length
            button.like-btn 
                i.far.fa-thumbs-up
        .comment-box
            strong.comment-title 댓글 
                span#jsCommentCount.comment-count=post.comments.length
            form#jsCommentForm.comment-form
                +profileImg(loggedUser.avatarUrl)
                input#jsContentsInput(type="text", name="contents")
                input(type="submit", value="댓글 달기")
            ul.comment-list
                each comment in post.comments 
                    li 
                        +profileImg(comment.creator.avatarUrl, comment.creator.id)
                        .comment-contents 
                            span=comment.creator.name
                            p=comment.contents
                            small=new Date(comment.createdAt).toLocaleString('ko-KR', {  hour12: false })