extends layouts/main
include mixins/profileImg
include mixins/postImgList
include mixins/comment

block content
    .post.post-container
        .info-box
            .user-block
                +profileImg(post.creator.avatarUrl, post.creator.id)
                .user-info 
                    h3=post.creator.name
                    h4=post.creator.email
            .post-info 
                if post.creator._id.toString() === loggedUser._id.toString()
                    a(href=routes.deletePost(post._id)) 게시글 삭제하기
                h3 조회수: #{post.views}
                h4 작성일: #{new Date(post.createdAt).toLocaleString('ko-KR', {  hour12: true })}
        .contents-box
            p=post.contents
        +postImgList(false, post.imageUrls)
        .likes-box
            span#jsLikeCount.like-count=post.likes.length
            button#jsLikeBtn(class=`like-btn ${liked ? "liked" : ""}`) 
                i.far.fa-thumbs-up
        .comment-box
            strong.comment-title 댓글 
                span#jsCommentCount.comment-count=post.comments.length
            form#jsCommentForm.comment-form
                +profileImg(loggedUser.avatarUrl)
                input#jsContentsInput(type="text", name="contents")
                input(type="submit", value="댓글 달기")
            ul.comment-list
                each comment in post.comments 
                    +comment(comment)


block script
    script(src="/static/postDetail.js")